

@media screen and(max-width:1200px){

}

@media screen and(max-width:992px){
    td, th, tr{
        display: block;
        width: 100%;
    }
    thead,tbody{
        display: block;
        width: 100%;
    }
    thead th{
        display: none;
        &:first-of-type{
            display: block;
        }
    }
}

@media screen and(max-width:768px){

}

@media screen and(max-width:576px){
    header{
        left: -70px;
    }
    main{
        padding-left: 0;
    }
}